# 0. Exercises - Pandas Basic

## 1. Cities in Sweden - create dataset(*)

Create this DataFrame from scratch:
|Number|Kommun|Population|
|------|----------|---|
|0|Malmö|347949|
|1|Stockholm|975551|
|2|Uppsala|233839|
|3|Göteborg|583056|

<ol type="a">

<li>) Use your DataFrame to point out all the cities (*) </li>
<li>) Select only the row which contains Göteborg. Do this by using the name Göteborg.(*) </li>
<li>) Sort the cities by population from largest to smallest.(*) </li>
<li>) Filter out the three largest cities. (*) </li>
<li>) The whole population in Sweden 2020 is *10 379 295*. Use this number to create a new column in your sorted DataFrame named: "Population"(%). This column should be filled with percentage of the Swedish population for each city. </li>

</ol>

### 1.1 Importing tools

In [369]:
import pandas as pd
pd

### a) Use your DataFrame to point out all the cities

In [370]:
# crete
population = pd.Series({"0": "347949", "1": "975551", "2": "233839", "3": "583056"})
kommun = pd.Series({"0": "Malmö", "1": "Stockholm", "2": "Uppsala", "3": "Göteborg"})

df_populations = pd.DataFrame({"Kommun": kommun, "Population": population})
df_populations

      Kommun Population
0      Malmö     347949
1  Stockholm     975551
2    Uppsala     233839
3   Göteborg     583056

### b) Select only the row which contains Göteborg. Do this by using the name Göteborg.

In [371]:
df_populations.loc[df_populations["Kommun"] == "Göteborg"] # using indexer 
# df_populations.loc[df_populations["Population"] == "583056"] # using indexer

     Kommun Population
3  Göteborg     583056

### c) Sort the cities by population from largest to smallest.

In [372]:
df_populations

      Kommun Population
0      Malmö     347949
1  Stockholm     975551
2    Uppsala     233839
3   Göteborg     583056

In [373]:
population

0    347949
1    975551
2    233839
3    583056
dtype: object

In [374]:
df_pop_sorted = df_populations.sort_values(by=['Population'], ascending=False)
df_pop_sorted

      Kommun Population
1  Stockholm     975551
3   Göteborg     583056
0      Malmö     347949
2    Uppsala     233839

### d) Filter out the three largest cities.

Alternative 1, locate smallest city manually and drop with indexing.

In [375]:
df_populations.drop(['0'], axis=0)

      Kommun Population
1  Stockholm     975551
2    Uppsala     233839
3   Göteborg     583056

Alternative 2, use the sorted list, and drop the bottom entry.

In [376]:
df_pop_sorted.iloc[:-1]

      Kommun Population
1  Stockholm     975551
3   Göteborg     583056
0      Malmö     347949

### e) The whole population in Sweden 2020 is *10 379 295*. Use this number to create a new column in your sorted DataFrame named: "Population"(%). This column should be filled with percentage of the Swedish population for each city.

In [377]:
df_pop_sorted

      Kommun Population
1  Stockholm     975551
3   Göteborg     583056
0      Malmö     347949
2    Uppsala     233839

In [378]:
population = pd.Series({0: 347949, 1: 975551, 2: 233839, 3: 583056})
kommun = pd.Series({0: "Malmö", 1: "Stockholm", 2: "Uppsala", 3: "Göteborg"})

df_populations = pd.DataFrame({"Kommun": kommun, "Population": population})
df_populations

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [379]:
sweden_precent = population[:4] / sweden_pop
sweden_precent

0    0.033523
1    0.093990
2    0.022529
3    0.056175
dtype: float64

In [380]:
df_populations["Sweden Population %"] = sweden_precent
df_populations

      Kommun  Population  Sweden Population %
0      Malmö      347949             0.033523
1  Stockholm      975551             0.093990
2    Uppsala      233839             0.022529
3   Göteborg      583056             0.056175

## 2. Cities in Sweden - real dataset