# 0. Exercises - Pandas Basic

## 1. Cities in Sweden - create dataset(*)

Create this DataFrame from scratch:
|Number|Kommun|Population|
|------|----------|---|
|0|Malmö|347949|
|1|Stockholm|975551|
|2|Uppsala|233839|
|3|Göteborg|583056|

<ol type="a">

<li>) Use your DataFrame to point out all the cities (*) </li>
<li>) Select only the row which contains Göteborg. Do this by using the name Göteborg.(*) </li>
<li>) Sort the cities by population from largest to smallest.(*) </li>
<li>) Filter out the three largest cities. (*) </li>
<li>) The whole population in Sweden 2020 is *10 379 295*. Use this number to create a new column in your sorted DataFrame named: "Population"(%). This column should be filled with percentage of the Swedish population for each city. </li>

</ol>

### 1.0 Importing tools

In [2]:
import pandas as pd
pd

### 1.1 a)

In [72]:
# crete
population = pd.Series({"0": "347949", "1": 975551, "2": 233839, "3": 583056})
kommun = pd.Series({"0": "Malmö", "1": "Stockholm", "2": "Uppsala", "3": "Göteborg"})

df_populations = pd.DataFrame({"Kommun": kommun, "Population": population})
df_populations

      Kommun Population
0      Malmö     347949
1  Stockholm     975551
2    Uppsala     233839
3   Göteborg     583056

In [74]:
cities_population_series = pd.Series(cities_population)
cities_population_series

Malmö        347949
Stockholm    975551
Uppsala      233839
Göteborg     583056
dtype: int64