# Labb 1 - COVID-19

## 0. Importing tools

In [6]:
import pandas as pd
import matplotlib as plt

## Assignments

## 1. Uppvärmning covid-19 data

Börja med att manuellt läsa Excel-filerna och de olika bladen i varje dokument. Använd därefter Pandas för
att läsa in bladet: "Veckodata Riket" i covid19-filen.

### a) 
Gör initial dataanalys för att snabbt få en överblick över datasetet. Använd metoder som ex. info(),
describe(), value_counts(), head(), columns, index för att snabbt få en överblick.

In [7]:
df_c19 = pd.read_excel("../Data/Folkhalsomyndigheten_Covid19.xlsx")
df_c19.head(n = 10) # see the first n rows of DataFrame, n = 5 by default

,Statistikdatum,Totalt_antal_fall,Blekinge,Dalarna,Gotland,Gävleborg,Halland,Jämtland_Härjedalen,Jönköping,Kalmar,...,Stockholm,Sörmland,Uppsala,Värmland,Västerbotten,Västernorrland,Västmanland,Västra_Götaland,Örebro,Östergötland
0,2020-02-04,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-02-05,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-02-06,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-02-07,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-02-08,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020-02-09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2020-02-10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,2020-02-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2020-02-12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2020-02-13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_c19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Statistikdatum       996 non-null    datetime64[ns]
 1   Totalt_antal_fall    996 non-null    int64
 2   Blekinge             996 non-null    int64
 3   Dalarna              996 non-null    int64
 4   Gotland              996 non-null    int64
 5   Gävleborg            996 non-null    int64
 6   Halland              996 non-null    int64
 7   Jämtland_Härjedalen  996 non-null    int64
 8   Jönköping            996 non-null    int64
 9   Kalmar               996 non-null    int64
 10  Kronoberg            996 non-null    int64
 11  Norrbotten           996 non-null    int64
 12  Skåne                996 non-null    int64
 13  Stockholm            996 non-null    int64
 14  Sörmland             996 non-null    int64
 15  Uppsala              996 non-null    int64
 16  Värmland             996 non-null    int64
 17  Västerbotten         996 non-null    int64
 18  Västernorrland       996 non-null    int64
 19  Västmanland          996 non-null    int64
 20  Västra_Götaland      996 non-null    int64
 21  Örebro               996 non-null    int64
 22  Östergötland         996 non-null    int64
dtypes: datetime64[ns](1), int64(22)
memory usage: 179.1 KB

In [14]:
df_c19.describe()

,Totalt_antal_fall,Blekinge,Dalarna,Gotland,Gävleborg,Halland,Jämtland_Härjedalen,Jönköping,Kalmar,Kronoberg,...,Stockholm,Sörmland,Uppsala,Värmland,Västerbotten,Västernorrland,Västmanland,Västra_Götaland,Örebro,Östergötland
count,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,...,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000,996.000000
mean,2622.068273,30.952811,75.392570,11.921687,75.103414,109.259036,34.484940,90.022088,63.062249,51.666667,...,609.047189,68.190763,94.122490,69.555221,60.427711,56.449799,78.753012,446.062249,99.326305,99.189759
std,5771.634647,84.695961,193.463023,37.952389,193.646065,300.021341,103.629572,221.639033,169.299289,150.645043,...,1294.962329,176.927870,219.373152,200.724627,145.987581,132.392604,217.564983,1118.079858,260.060710,297.818104
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,314.750000,1.000000,7.750000,0.000000,4.000000,9.000000,2.000000,8.000000,3.000000,3.000000,...,76.000000,5.000000,11.000000,6.000000,4.000000,2.000000,5.000000,41.000000,11.000000,11.000000
50%,784.000000,6.000000,21.000000,2.000000,15.000000,23.000000,7.500000,23.000000,14.000000,12.000000,...,211.000000,21.000000,32.000000,20.000000,14.000000,12.000000,23.000000,109.000000,34.000000,29.000000
75%,2422.500000,23.000000,62.000000,9.000000,56.000000,66.000000,23.000000,58.000000,49.000000,35.250000,...,542.000000,60.000000,82.250000,53.000000,54.250000,48.250000,67.000000,401.000000,84.000000,90.000000
max,53881.000000,1028.000000,1916.000000,468.000000,2286.000000,3033.000000,1232.000000,2682.000000,2005.000000,2620.000000,...,10411.000000,2291.000000,2454.000000,2363.000000,1864.000000,1178.000000,2151.000000,14429.000000,2651.000000,5410.000000

In [15]:
df_c19.value_counts()

Statistikdatum  Totalt_antal_fall  Blekinge  Dalarna  Gotland  Gävleborg  Halland  Jämtland_Härjedalen  Jönköping  Kalmar  Kronoberg  Norrbotten  Skåne  Stockholm  Sörmland  Uppsala  Värmland  Västerbotten  Västernorrland  Västmanland  Västra_Götaland  Örebro  Östergötland
2020-02-04      1                  0         0        0        0          0        0                    1          0       0          0           0      0          0         0        0         0             0               0            0                0       0               1
2021-12-04      2084               49        10       8        8          62       13                   74         58      5          16          400    530        69        107      24        42            14              156          314              89      36              1
2021-11-21      482                0         10       4        13         3        1                    3          10      0          6           95     178        3         18       16        2             1               49           16               40      14              1
2021-11-22      953                0         3        14       1          76       2                    2          5       1          24          180    328        23        29       29        4             7               19           165              20      21              1
2021-11-23      2077               54        55       5        78         98       33                   35         92      17         21          324    552        69        90       37        73            54              154          115              98      23              1
                                                                                                                                                                                                                                                                                    ..
2021-01-05      7546               284       236      36       303        434      119                  432        159     232        57          1582   1313       297       314      89        142           238             171          725              116     267             1
2021-01-06      5028               148       133      24       180        48       98                   143        147     319        203         635    820        111       220      99        87            139             187          924              109     254             1
2021-01-07      7148               18        24       3        85         473      12                   211        254     31         44          2115   1071       63        98       22        46            77              68           2054             176     203             1
2021-01-08      5690               186       154      31       76         281      106                  293        183     221        36          1277   828        192       184      130       108           138             15           969              90      192             1
2022-10-26      687                9         31       2        13         31       12                   35         24      18         19          69     98         26        30       21        30            45              22           75               41      36              1
Length: 996, dtype: int64

### b) 
Slå ihop kolumnerna "år" och "veckonummer" till en kolumn med namn "Vecka" med följande format:

```
Vecka 
2020v6 
2020v7 
... 
2022v41
```

In [ ]:
df_c19["period"] = df_c19["år"].astype(str) + "-" + df["veckonummer"]

# df["Period"] = df['Courses'].astype(str) +"-"+ df["Duration"]
print(df_c19)

KeyError: 'år'

### c) 
Rita en linjediagram som visar avlidna fall per vecka från 2020v6 till nu

### d) 
Rita en linjediagram som visar nya fall per vecka från 2020v6 till nu.

### e)

Rita linjediagram av både avlidna fall per vecka och nya fall per vecka i samma fönster från 2020v6 till
nu.

### f)
Rita linjediagram av kumulativt antal fall från 2020v6 till nu